.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.html
data/*
*.xlsx
*.txt
*.pdf
vignettes/*
venv/*
data/*
documentation/*
*.stan
0_etl/db_temp/*
1_variable_calculator/db_temp/*
2_ml_pipelines/db_temp/*
2_ml_pipelines/-unique_value_check/mapping_storage/*
2_ml_pipelines/-unique_value_check/unique_value_checker_cache/*
2_ml_pipelines/-unique_value_check/unique_value_checker_cache/html/*
4_backtesting/db_temp/*
.idea
logs